@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(32, 31, 31);
}

@layer components {
  .max-container {
    @apply mx-auto sm:max-w-[1024px] max-w-[391px];
  }

  .f-center {
    @apply flex justify-center items-center;
  }

  .f-start {
    @apply flex justify-start items-center;
  }

  .space-between {
    @apply justify-between items-center flex-row flex;
  }

  .text-shadow {
    text-shadow: 0.5px 0.5px 4px #b99784b5;
  }

  .up {
    transition: all 0.3s;
  }
  .up:hover {
    transform: translateY(-5px);
  }
}

@layer utilities {
  /*************************** NAVBAR ********************************/

  .logo {
    @apply sm:w-[50px] w-[28px] sm:h-[50px] h-[28px];
  }

  .title {
    @apply sm:text-[45px] text-[25px]  font-semibold text-white font-roboto;
  }

  .links-nav {
    @apply text-[25px]  font-normal text-white font-roboto;
  }

  .links-hamburger {
    @apply text-[20px] sm:text-[30px] font-semibold text-white font-roboto;
  }

  .btn {
    @apply sm:pb-[7px] pb-[5px] sm:pt-[8px] pt-[6px]   sm:px-6 px-4 rounded-[5px] sm:rounded-[7px] flex items-center;
  }

  .btn-text {
    @apply sm:text-[30px] text-[18px] font-bold text-white;
  }

  .p-nav {
    @apply sm:px-6 px-3 sm:pt-[13px] pt-[11px] sm:pb-[12px] pb-[9px];
  }

  .bg-orange {
    background: #f85d03;
    box-shadow: inset 5px 5px 10px #702f07, inset -5px -5px 10px #b34c0c;
  }

  .btn-orange-off {
    background: linear-gradient(315deg, #df5403, #ff6403);
    box-shadow: 3px 3px 10px #7c2f02, -3px -3px 15px rgba(247, 110, 25, 0.269);
  }

  .btn-orange-on {
    background: #f85d03;
    box-shadow: inset 5px 5px 10px #b04202,
      inset -5px -5px 10px rgba(242, 137, 71, 0.628);
  }

  /**************************** BODY *******************************/

  .bg-box {
    @apply bg-clearblue sm:px-5 px-4 sm:py-8 py-5 md:min-h-[350px] min-h-[600px];
  }

  /**************************** CARD *******************************/

  /* Header*/

  .bg-header {
    background: linear-gradient(315deg, #f3f1f1, #fffdfd);
    box-shadow: inset 1px 1px 40px 10px #a3a3a318;
  }

  .contact-name {
    @apply text-black  text-[20px]  font-bold; /*sm:text-[37px]*/
  }

  /* Labels */

  .bg-label {
    background: linear-gradient(315deg, hsl(0, 100%, 99%), #fffdfd);
    box-shadow: inset -5px 5px 8px #94aabc;
  }

  .bg-label-info {
    background: linear-gradient(315deg, hsl(0, 100%, 99%), #fffdfd);
    box-shadow: inset 0px 5px 8px #94aabc;
  }

  .label-name {
    @apply text-semiblue  text-[12px]  font-bold; /*sm:text-[24px]*/
  }

  .label-info {
    @apply text-[15px]  font-semibold; /*sm:text-[30px]*/
  }

  color {
    color: #95aec2;
  }

  /**************************** FORM *******************************/

  input {
    border: none;
    outline: none;
  }

  input::placeholder {
    color: #a3afb9;
  }

  .input-btn {
    @apply sm:pb-[15px] pb-[10px] sm:pt-[17px] pt-[11px]   sm:px-8 px-4 rounded-[10px] sm:rounded-[15px] flex items-center;
  }

  .input-btn-text {
    @apply sm:text-[40px] text-[23px] font-bold text-white;
  }

  .btn-orange-input {
    background: linear-gradient(315deg, #df5403, #ff6403);
    box-shadow: 4px 4px 10px #562203;
  }

  /**************************** LIST OF AGENDAS *******************************/

  .agendas-title {
    @apply sm:text-[35px] text-[25px]  font-semibold text-black font-roboto;
  }

  /**************************** FOOTER *******************************/

  .signature {
    @apply sm:text-[28px] text-[19px]  font-semibold text-white font-roboto;
  }
}

/*****************************************  */

@media (max-width: 640px) {
  .fa-2xl {
    font-size: 2.15rem;
  }
}
