@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    @apply mx-auto sm:max-w-[780px] max-w-[391px];
  }

  .f-center {
    @apply flex justify-center items-center;
  }

  .f-start {
    @apply flex justify-start items-center;
  }

  .space-between {
    @apply justify-between items-center flex-row flex;
  }
}

@layer utilities {
  /*************************** NAVBAR ********************************/

  .logo {
    @apply sm:w-[50px] w-[28px] sm:h-[50px] h-[28px];
  }

  .title {
    @apply sm:text-[45px] text-[25px]  font-semibold text-white font-roboto;
  }

  .text-shadow {
    text-shadow: 1px 1px 5px #b99784b5;
  }

  .btn {
    @apply sm:pb-[10px] pb-[5px] sm:pt-[12px] pt-[6px]   sm:px-8 px-4 rounded-[5px] sm:rounded-[10px] flex items-center;
  }

  .btn-text {
    @apply sm:text-[35px] text-[18px] font-bold text-white;
  }

  .p-nav {
    @apply sm:px-4 px-2 sm:pt-[12px] pt-[10px] sm:pb-[11px] pb-[8px];
  }

  .bg-orange {
    background: #f85d03;
    box-shadow: inset 5px 5px 10px #b04202, inset -5px -5px 10px #ff7804;
  }

  .btn-orange-off {
    background: linear-gradient(315deg, #df5403, #ff6403);
    box-shadow: 3px 3px 10px #7c2f02, -3px -3px 15px rgba(247, 110, 25, 0.269);
  }

  .btn-orange-on {
    background: #f85d03;
    box-shadow: inset 5px 5px 10px #b04202,
      inset -5px -5px 10px rgba(242, 137, 71, 0.628);
  }

  /**************************** BODY *******************************/

  .bg-box {
    @apply bg-clearblue sm:px-5 px-4 sm:py-5 py-4 md:min-h-[500px] min-h-[775px];
  }

  /**************************** CARD *******************************/

  /* Header*/

  .bg-header {
    background: linear-gradient(315deg, #f3f1f1, #fffdfd);
    box-shadow: inset 1px 1px 40px 10px #a3a3a318;
  }

  .contact-name {
    @apply text-black sm:text-[37px] text-[15px]  font-bold;
  }

  /* Labels */

  .bg-label {
    background: linear-gradient(315deg, hsl(0, 100%, 99%), #fffdfd);
    box-shadow: inset -5px 5px 8px #94aabc;
  }

  .bg-label-info {
    background: linear-gradient(315deg, hsl(0, 100%, 99%), #fffdfd);
    box-shadow: inset 0px 5px 8px #94aabc;
  }

  .label-name {
    @apply text-semiblue sm:text-[24px] text-[12px]  font-bold;
  }

  .label-info {
    @apply sm:text-[30px] text-[15px]  font-semibold;
  }
}

color {
  color: #95aec2;
}
